[submodule ".vim/vundle"]
	path = .vim/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "svm"]
	path = svm
	url = https://github.com/yuroyoro/svm.git
[submodule "sbt-extras"]
	path = sbt-extras
	url = https://github.com/paulp/sbt-extras.git
[submodule "gitsshm"]
	path = gitsshm
	url = git@github.com:everpeace/gitsshm.git
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli.git
