[user]
  name = Shingo Omura
  email = everpeace@gmail.com
[color]
  # colorの設定(以下のコマンドは自動で色つける)
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[push]
  default = tracking       # defaultのpush先はtrackingしているリポジトリ
[core]
  excludesfile = ~/.gitignore  # globalな.gitignoreの指定
  autocrlf = input                 # CRLFを自動変換
[http]
  sslVerify = false
[alias]
  tr = log --graph --pretty='format:%C(yellow)%h[%cr%Creset] %s %Cgreen(%an)%Creset %Cred%d%Creset'

[sendemail]
	smtpencryption = tls
	smtpserver = /usr/local/bin/msmtp
	smtpuser = everpeace@gmail.com
	smtpserverport = 587
	chainreplyto = false
