<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.github.everpeace.ssh-agent-multiplexer</string>

        <key>ProgramArguments</key>
        <array>
            <string>/Users/everpeace/bin/start-ssh-agent-multiplexer.sh</string>
            <string>/Users/everpeace/.ssh/ssh-agent-multiplexer/agent.sock</string>
        </array>
        
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/Users/everpeace/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        </dict>

        <key>StandardOutPath</key>
        <string>/Users/everpeace/.ssh/ssh-agent-multiplexer/stdout.log</string>

        <key>StandardErrorPath</key>
        <string>/Users/everpeace/.ssh/ssh-agent-multiplexer/stderr.log</string>
    </dict>
</plist>
